.about{
    display: flexbox;
    flex:1 1 1;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    direction: rtl;
    .section-about{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to right, rgba(238, 27, 27, 0.877) , rgba(247, 8, 247, 0.3));
        
         @media (max-width: 800px) {
              flex-direction: column;
              padding: 13px;
          }
    .art{
        display: flex;
        border: 1px solid #ccc;
        border-radius: 80px 18px 80px 18px;
        background-color: rgba(36, 7, 102, 0.8);
        flex-direction: column;
        padding: 18px;
        height: fit-content;
        overflow: hidden;
        color: antiquewhite;
        box-shadow: -20px -12px 0px 1px rgba(24, 173, 74, 0.75);
        -webkit-box-shadow: -20px -12px 0px 1px rgba(24, 173, 74, 0.75);
        -moz-box-shadow: -20px -12px 0px 1px rgba(24, 173, 74, 0.75);
        @media (max-width: 800px) {
            margin-bottom: 15px;
            margin-top: 10px;
            margin-left: 10px;
        }
    }
    
    .img{
        display: flex;
        border: 1px solid #ccc ;
        .pic1{
            width: 21rem;
            height: 19rem;
            
        }
    }
}}