.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    background-color: rgb(7, 1, 29);
    color: antiquewhite;
font-size: small;
    .contact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: larger;
        align-items: center;
        .mob{
            margin: 10px;
        }
        .whatts{margin: 10px;}
        span{
            margin: 10px;
        }
    }
}