.home-page{
    display: flexbox;
    flex:1 1 1;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    direction: rtl;





    }




    

    